*.json~
*.js~
*.target
*.Makefile
!nodemsi.sln
*.suo
!custom_actions.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.sdf
*.ncb
*.opensdf
*.pdb
*.obj
*.csv
*.iml
*.log
*.out
*.pid
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
node_modules
bower_components
Debug
Release
*.vcxproj.*.user
*.vcproj.*.user
gen.json
loctest
